// Colors of project

// Brand-colors
$primary-dark: #420000;
$primary-normal: #600000;
$primary-light: #741d1d;

$secondary-dark: #CC8E30;
$secondary-normal: #FCB040;
$secondary-light: #FFBD59;
$secondary-lighten: #ffd494;

// Neutral-colors

$black-dark: #1b0202;
$black-normal: #240606;
$black-light: #2f1010;
$black-lighten: #331919;

$black-darken: #1d0909;

$white-normal: #f7f5f5;
$white-dark: #f0eded;
$white-light: #fcfafa;

// Gray Scale
$gray-1: #697796;
$gray-2: #7784A2;
$gray-3: #858FA6;
$gray-4: #9EA5B8;
$gray-5: #B6BCC9;
$gray-6: #CED2DB;
$gray-7: #E7E9ED;


// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #06A06F;
$green-light: #23C691;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


.color-white{
    color: $white-normal;
}

.color-black{
    color: $black-light;
}

.color-black-lighten{
    color: $black-lighten;
}

.color-primary{
    color: $primary-normal;
}

.color-secondary{
    color: $secondary-normal;
}

.color-gradient{
    display: inline-block;
    background: linear-gradient(224.78deg, $secondary-normal 8.12%, $secondary-light 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient2{
    display: inline-block;
    background: linear-gradient(175deg, #E48800 8.12%, #FFB33F 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label{
    background: linear-gradient(224.78deg, $secondary-normal 8.12%, $secondary-light 92.21%);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;

    color: $white-light;
}

.bg-black{
    background-color: $black-normal;
}

.bg-white{
    background-color: $white-dark;
}

.bg-gray{
    background-color: $gray-7;
}

.color-gray{
    color: $gray-3;
}

.color-red{
    color: $red-normal;
}

.color-green{
    color: $green-normal;
}

.color-yellow{
    color: $yellow-normal;
}

.bg-red{
    background-color: $red-normal;
}

.bg-green{
    background-color: $green-normal;
}

.bg-yellow{
    background-color: $yellow-normal;
}


